@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

body {
    font-family: var(--font-family-main);
    background-color: var(--bg-color);
    color: var(--primary-color);

    &.overflow {
        overflow: hidden;
    }
}

#app,
.app_modal {
    font-family: var(--font-family-main);
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
}

.page-wrap {
    flex-grow: 1;
}

.page-content {
    display: flex;
    height: calc(100vh - 85px);
}
