.SideBar {
    position: relative;
    background-color: var(--inverted-bg-color);
    width: var(--navbar-uncollapsed-width);
    transition: all 0.2s ease-in;
    height: calc(100vh - 85px);
    flex-shrink: 0;
}

.swithers {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 20px;
}

.lang {
    margin-left: 20px;
}

.toggleBtn {
    position: absolute;
    right: -40px;
    bottom: 40px;
    z-index: 1;
}

.sidebarLinks {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.collapsed {
    width: var(--navbar-collapsed-width);

    .swithers {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .lang {
        margin-left: 0;
        margin-top: 10px;
    }

    .sidebarLinks {
        align-items: center;
        margin-left: 0;
    }
}
