.SideBar {
    position: relative;
    background-color: var(--inverted-bg-color);
    width: var(--navbar-uncollapsed-width);
    transition: all 0.2s ease-in;
    height: calc(100vh - 85px);
}

.collapsed {
    width: var(--navbar-collapsed-width);
}

.swithers {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 20px;
}

.lang {
    margin-left: 20px;
}
