.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.btnEdit {
    display: inline-block;

    &:first-child {
        margin-right: 10px;
    }
}
