.Input {
    width: 100%;
    padding: 5px 10px;
    font-size: var(--font-m);
    border-radius: 10px;
    outline: none;
    border: 1px solid var(--secondary-color);

    &::placeholder {
        color: var(--bg-color-secondary);
    }

    &:read-only {
        opacity: 0.7;
    }

    &[type="number"]::-webkit-outer-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
        display: none;
    }

    &[type="number"] {
        -moz-appearance: textfield;

        &:hover,
        &:focus {
            -moz-appearance: number-input;
        }
    }
}
