.app_blue_theme {
    --bg-color: rgb(168 214 250);
    --bg-color-secondary: rgb(108 187 247);
    --inverted-bg-color: #ecebeb;
    --primary-color: #fff;
    --secondary-color: #edeaea;
    --inverted-primary-color: #0f0f0f;
    --inverted-secondary-color: #282828;
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);
}
