.app_dark_theme {
    --bg-color: #0f0f0f;
    --bg-color-secondary: #202020;
    --inverted-bg-color: #ecebeb;
    --primary-color: #fff;
    --secondary-color: #cdcbcb;
    --inverted-primary-color: #0f0f0f;
    --inverted-secondary-color: #282828;
    --skeleton-color: #222;
    --skeleton-shadow: rgba(75 75 75 20%);
}
