.app_light_theme {
    --bg-color: #ecebeb;
    --inverted-bg-color: #0f0f0f;
    --primary-color: #0f0f0f;
    --secondary-color: #282828;
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #cdcbcb;
}
