.header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.ava {
    margin-right: 10px;
}

.CommentCard {
    border: 1px solid var(--primary-color);
    padding: 15px;

    &:not(:last-child) {
        margin-bottom: 15px;
    }
}
