.ProfileCard {
    padding: 20px;
    border: 2px solid var(--primary-color);
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input {
    display: inline-block;
    width: 100%;

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}
