.AppLink {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--inverted-primary-color);
}
.primary {
    color: var(--inverted-primary-color);
}
.secondary {
    color: var(--inverted-secondary-color);
}